
<h1 class='welcome'> Welcome to Motherfluffers </h1>

<div class="cardContainer">
  <% @categories.each do |category|%>
  <% next if category.products.empty? %>
  <div class="card">
    <%= image_tag url="#{category.products.sample.photo}" , alt: "Category Picture" %>
    <div class="card-section">
      <h4> <%= link_to category.name, category_products_path(category.id) %></h4>
    </div>
  </div>
  <% end %>
</div>
