@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

footer{
  margin: 5em;
  padding-bottom: 1em;

}

#left{
  float: left;
  padding-left: 1em;

}

#right{

  margin-left: 6em;
}

a {
  text-decoration: none;
  color: #fff;
}
p > a:hover{
  color: #d9d9d9;
  text-decoration:  underline;
}

ul {
  padding:0;
  list-style: none;
}
.footer-social-icons {
  width: 300px;
  display:block;
  margin: 0 auto;
}
.social-icon {
  color: #fff;
}
ul.social-icons {
  margin-top: 10px;
}
.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}
.fa-facebook {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-facebook:hover {
  background-color: #3d5b99;
}
.fa-twitter {
  padding:10px 12px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-twitter:hover {
  background-color: #00aced;
}
.fa-youtube {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-youtube:hover {
  background-color: #e64a41;
}
.fa-google-plus {
  padding:10px 9px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-google-plus:hover {
  background-color: #e25714;
}



// Newsletter
*, *:before, *:after {
  box-sizing:border-box;
  transition:.5s ease-in-out;
}

body, html {
  font-family: -apple-system, helvetica neue, helvetica, arial, sans-serif;
  font-weight:200;
  position:relative;
  height:100%;
}

h1 {
  font-size:30px;
  line-height:30px;
  font-weight:200;
  padding:75px 0 50px 0;
  text-align:center;
  .subtext {
    opacity:.3;
  }
}

.newsletter {
  max-width:400px;
  margin:50px auto;
  position:relative;
  > span.container {
    display:block;
    width:100%;
    position:absolute;
    z-index:1;
    top:0px;
    left:0px;
    padding:20px 10px 10px 10px;
    opacity:0;
    &.active {
      opacity:1;
      z-index:2;
      &+.submit {
        z-index:3;
        top:20px;
        opacity:1;
      }
    }
    > label {
      display:block;
      position:absolute;
      top:-5px;
      line-height:18px;
      &.fadeOut {
        opacity:0;
        top:10px;
      }
    }
    > input {
      padding:15px;
      margin:0;
      width:100%;
      outline:none;
      border:1px solid #d1d1d1;
      border-radius:3px;
      font-family: -apple-system, helvetica neue, helvetica, arial, sans-serif;
      font-weight:200;
      font-size:18px;
      line-height:18px;
    }
    .next {
      display:block;
      position:absolute;
      height:53px;
      width:53px;
      top:20px;
      right:10px;
      text-align:center;
      border-radius:0 3px 3px 0;
      border-top:1px solid transparent;
      border-right:1px solid transparent;
      border-bottom:1px solid transparent;
      &:hover {
        color:#22a31b;
        cursor:pointer;
        &:before {
          color:#22a31b;
        }
      }
      &:before {
        content:'\f061';
        font-family:FontAwesome;
        font-size:18px;
        font-weight:200;
        line-height:51px;
        color:#b6b6b6;
      }
    }
    span.error {
      color:red;
      position:absolute;
      display:block;
      width:100%;
      font-size:12px;
      line-height:12px;
      bottom:-10px;
    }
  }
  > span.submit {
    display:block;
    position:absolute;
    height:53px;
    width:53px;
    top:20px;
    right:10px;
    text-align:center;
    opacity:0;
    border-radius:0 3px 3px 0;
    border-top:1px solid transparent;
    border-right:1px solid transparent;
    border-bottom:1px solid transparent;
    overflow:hidden;
    background:#b6b6b6;
    &:hover {
      background:#22a31b;
      border-top:1px solid #158010;
      border-right:1px solid #158010;
      border-bottom:1px solid #158010;
      cursor:pointer;
      &:before {
        color:white;
      }
    }
    &:before {
      content:'\f1d8';
      font-family:FontAwesome;
      font-size:18px;
      font-weight:200;
      line-height:51px;
      color:white;
    }
    &:after {
      content:"You're subscribed!";
      display:block;
      color:white;
      font-weight:400;
      text-shadow:1px 1px 0 rgba(0,0,0,.3);
      height:100%;
      width:100%;
      line-height:51px;
      position:absolute;
      top:10px;
      opacity:0;
    }
    &.submitted {
      transition:.75s cubic-bezier(0.19, 1, 0.22, 1);
      width:calc(100% - 20px);
      background:#22a31b;
      border:1px solid #158010;
      cursor:pointer;
      border-radius:3px;
      &:before {
        color:white;
        position:relative;
        top:-50px;
        right:-100px;
        transition:.25s .75s ease-in-out;
      }
      &:after {
        top:0;
        opacity:1;
        color:white;
        transition:.5s 1s ease-in-out;
      }
    }
  }
}

.reset {
  width:100%;
  text-align:center;
  position:absolute;
  bottom:25px;
  cursor:pointer;
  color:#747474;
  &:hover {
    color:red;
  }
}
