<h1> All Things Fluffy </h1>

<h4>by category</h4>
<ol>
<% @categories.each do |category| %>
<li><%= link_to "#{category.name}", category_products_path(category.id)%></li>
<%end%>
</ol>

<h4>by merchant</h4>
<ol>
<% @merchants.each do |merchant| %>
<% unless merchant.products.empty? %>
<li><%= link_to "#{merchant.username}", user_products_path(merchant.id)%></li>
<%end%>
<%end%>
</ol>

<table>
  <thead>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
  </tr>
  <thead>
  <tbody>
    <% @products.each do |item|%>
    <tr>
    <td><%= link_to "#{item.name}", product_path(item.id) %></td>
    <td><%= "$#{'%.2f' % item.price}" %></td>
  </tr>
    <%end%>
  </tbody>
</table>
