<footer>
<div id="left" class="footer-social-icons">


    <ul class="social-icons">
        <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
    </ul>
    </div>

<div id="right">
    <form class="newsletter">
        <label for="name">subscribe to our awesome(fake) newsletter!</label>
        <input type="text" id="name" name="name" class="required"/>
    </form>
</div>

</footer>
